{% extends 'index.html' %}
{% load static %}
{% block title %} Book Details | Jaanviebooks {% endblock title %}

{% block designsection %}
<section class="pagenavigation">
    <img class="pages-bgback" src="{% static 'img/cousers.jpg' %}" alt="">
    <div class="page-inner-nav">
        <a href="javascript:void(0);" onclick="history.back()" class="back-btn"><i class="fa fa-angle-left"
                aria-hidden="true"></i>Go Back</a>
        <div class="page-title">All Courses</div>
        <div class="breadcrumb-bx breadcrumb-white">
            <a href="{% url 'home' %}">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a class="active" href="javascript:void(0);">All Courses</a>
        </div>
    </div>
</section>







{% endblock designsection %}