{% extends 'index.html' %}
{% load static %}
{% block title %} Privacy Policy | Jaanviebooks {% endblock title %}

{% block designsection %}
<section class="pagenavigation">
    <img class="pages-bgback" src="{% static 'img/cousers.jpg' %}" alt="">
    <div class="page-inner-nav">
        <a href="javascript:void(0);" onclick="history.back()" class="back-btn"><i class="fa fa-angle-left" aria-hidden="true"></i>Go Back</a>
        <div class="page-title">Privacy Policy</div>
        <div class="breadcrumb-bx breadcrumb-white">
            <a href="{% url 'home' %}">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a class="active" href="javascript:void(0);">Privacy Policy</a>
        </div>
    </div>
</section>

<section class="legal-main">
    <div class="container-lg pb-5 pt-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui nam, perferendis culpa optio officiis mollitia cum? Id rerum magni molestias.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga praesentium, laborum, ab similique exercitationem quam obcaecati reiciendis quasi autem accusantium aut, repudiandae maiores sit nihil. Aliquam quidem dolor saepe eveniet quibusdam quo animi velit fuga necessitatibus explicabo error, eos possimus repudiandae non. Corrupti doloribus libero provident distinctio aperiam iste in quidem?</p>

        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui nam, perferendis culpa optio officiis mollitia cum? Id rerum magni molestias.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga praesentium, laborum, ab similique exercitationem quam obcaecati reiciendis quasi autem accusantium aut, repudiandae maiores sit nihil. Aliquam quidem dolor saepe eveniet quibusdam quo animi velit fuga necessitatibus explicabo error, eos possimus repudiandae non. Corrupti doloribus libero provident distinctio aperiam iste in quidem?</p>

        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui nam, perferendis culpa optio officiis mollitia cum? Id rerum magni molestias.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga praesentium, laborum, ab similique exercitationem quam obcaecati reiciendis quasi autem accusantium aut, repudiandae maiores sit nihil. Aliquam quidem dolor saepe eveniet quibusdam quo animi velit fuga necessitatibus explicabo error, eos possimus repudiandae non. Corrupti doloribus libero provident distinctio aperiam iste in quidem?</p>

        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui nam, perferendis culpa optio officiis mollitia cum? Id rerum magni molestias.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga praesentium, laborum, ab similique exercitationem quam obcaecati reiciendis quasi autem accusantium aut, repudiandae maiores sit nihil. Aliquam quidem dolor saepe eveniet quibusdam quo animi velit fuga necessitatibus explicabo error, eos possimus repudiandae non. Corrupti doloribus libero provident distinctio aperiam iste in quidem?</p>

        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui nam, perferendis culpa optio officiis mollitia cum? Id rerum magni molestias.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga praesentium, laborum, ab similique exercitationem quam obcaecati reiciendis quasi autem accusantium aut, repudiandae maiores sit nihil. Aliquam quidem dolor saepe eveniet quibusdam quo animi velit fuga necessitatibus explicabo error, eos possimus repudiandae non. Corrupti doloribus libero provident distinctio aperiam iste in quidem?</p>

        <!-- <ul class="legal-ul ul-dick">
            <li>● Noting your preferences at the time you register your account with the Application</li>
            <li>● Contacting us using the contact information provided below</li> 
        </ul> -->

        <!-- <ul class="legal-ul">
            <li>Create and manage your account</li>
            <li>Compile anonymous statistical data and analysis for use internally.</li>
            <li>Email you regarding your account or order.</li>
        </ul> -->

        <!-- <h6>CONTACT US</h6> 
        <p>If you have questions or comments about this Privacy Policy, please contact us at:</p>
        <p>Address: 101, Amulya Complex, Ambawadi, Ahmedabad - 380006</p>
        <p>Mobile: <a href="tel:+919839835336">+91 9839835336</a></p>
        <p>Email address: <a href="mailto:info@jotoboto.com">info@jotoboto.com</a></p>  -->
    </div>
</section>

{% endblock designsection %}